body {
  background-color: #51CF3E;
  margin: 0;
  padding: 0;
}

.sky{
  width: auto;
  height: 450px;
  background-image: url("https://raw.githubusercontent.com/Raulif/Car-game/master/sky-bg.jpg");
  background-size: auto 100%;
}

.road{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: brown;
  border-width: 2px 0px 0px 0px;
  border-color: black;
  border-style: solid;
}

.textContainer{
  position: absolute;
  width: 50%;
  max-height: 50px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}

#outputBox{
  position: absolute;
  background-color: black;
  max-height: 50px;
  color: yellow;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

#car-icon{
  height: 100px;
  margin-top: 368px;
  margin-left: 10px;
  margin-right: 10px;
  left: auto;
  position: absolute;
  background-color: white;
}

.car-back{
  height: auto;
  width: auto;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.btn-field{
  clear: both;
  position: absolute;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.btn {
  height: 150px;
  width: 150px;
  vertical-align: middle;
  border-radius: 8%;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  background-color: #C1C7C2;
}

#fuel-cont{
  height: 150px;
  display: inline-block;
  width: 50px;
  position: absolute;
  float: right;
  right: 200px;
  border-style: solid;
  border-width: thin;
}

#fuel-level{
  position: absolute;
  height: 5px;
  width: 50px;
  vertical-align: middle;
  border-radius: 5%;
  border-style: solid;
  border-width: thin;
  background-color: #424242;
  bottom: 0;
}

#fuel-label{
  position: absolute;
  float: right;
  right: 200px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;

}

.highlight {
  background-color: #4F60B2;
  color: #B4B5B8;
}

.start-on{
  background-color: #7DFF93;
  color: black;
}

.stop-on{
  background-color: red;
  color: black;
}
